@import
	url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap')
	;

@import
	url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap')
	;



@font-face {
    font-family: 'GoryeongStrawberry';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-01@1.0/GoryeongStrawberry.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
body{
	 font-family: "GoryeongStrawberry";
}

#Rootrip {
	font-family: 'Staatliches', cursive;
}

#Rootrip {
	font-family: 'Montserrat', sans-serif;
}

#Rootrip {
	font-family: 'Staatliches', cursive;
	font-size: 3em;
	text-align: center;
	color: #F1C164;
	text-shadow: 5px 5px #2D63A7;
	margin: 0;
}

#indexConTable {
	margin: 100px auto;
}

#rootripTable {
	margin: auto;
}





.slideshow-container {
    position: relative;
    max-width: 700px;	
    margin: auto;
    overflow: hidden; /* 이미지가 넘치지 않도록 처리 */
    margin-left: 700px;
}

.slide {
    display: none;
    animation: fade 1.5s ease-in-out; /* 페이드 애니메이션 적용 */
}
.slide-container {
    position: relative; 
    display: flex;
    flex-direction: column; 
    align-items: flex-start;
    gap: 20px;
}
@keyframes fade {
    from { opacity: 0.4; }
    to { opacity: 1; }
}

.slide img {
    width: 100%;
    height: auto;
}





.button-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 20px;
    }
.tartBtn {
	margin-left: 600px;
}
body:before{
  content:'';
  height:100%;
  display:inline-block;
  vertical-align:middle;
}
.startBtn{
  background:#F1C063;
  color:#2D63A7;
  border:none;
  position:relative;
  height:60px;
  font-size:1.6em;
  padding:0 2em;
  cursor:pointer;
  transition:800ms ease all;
  outline:none;
  border-radius: 7px;
  margin-left: auto;
  margin-right: auto;
}
.startBtn:hover{
  background:#2D63A7;
  color:#F1C063;
}
.startBtn:before,button:after{
  content:'';
  position:absolute;
  top:0;
  right:0;
  height:2px;
  width:0;
  background: #F1C063;
  transition:400ms ease all;
}
.startBtn:after{
  right:inherit;
  top:inherit;
  left:0;
  bottom:0;
}
.startBtn:hover:before,button:hover:after{
  width:100%;
  transition:800ms ease all;
}
.button-container a{
  text-decoration: none;	
}














