<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rootrip.rootripteam.category.CategoryMapper">
	<select id="getCategoryCode" parameterType="string" resultType="BigDecimal">
		select c_no from CATEGORY where c_name = #{categoryName}
	</select>
	<insert id="insertCategory" parameterType="com.rootrip.rootripteam.category.Category">
		insert into CATEGORY values (#{c_no}, #{c_name})
	</insert>
	<select id="getAllCategory" resultType="com.rootrip.rootripteam.category.Category">
		select * from CATEGORY
	</select>
</mapper>